# dependencias
node_modules/

# build
dist/
build/

# variables de entorno
.env
.env.local
.env.production

# logs
npm-debug.log*
yarn-debug.log*

# sistema operativo
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# vite
*.local